*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;

}
.navbar .navbar-brand{
    color: #000000;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}
.navbar-collapse .navbar-nav a{
    color: #000000;
    list-style: none;
    text-decoration: none;
}
.pricing{
    margin-left: 500px;
    list-style: none;
    text-decoration: none;
}


.signup{
    border-radius: 15px;
    padding: 0px 10px;
    color: #ffffff;
    background: #00ffff ;
    border: 1px solid #00ffff;
    font-weight: bold;
    margin-left: 10px;
}

/* **********************************************************************/
.hero{
    margin: 50px 0px;
}

.hero-title{
    font-weight: bolder;
    font-weight: 900;
    font-size: 45px;
    width: 100%;
}
.hero-text{
    margin-top: 15px;
}
.hero-btn{
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    background: #00ffff ;
    border: 1px solid #00ffff;
    font-weight: bold;
}
.col .second-column img{
    width: 350px;
}
/* **********************************************************************/
.input{
    background: url(./images/bg-shorten-desktop.svg);
    background-color: rgb(177, 107, 241);
    height: 160px;
    border-radius: 10px;
    padding-left: 90px;
    padding-top: 50px;  

}
.input-text{
    width: 70%;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #ffffff;
}
.input-btn{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    background: #00ffff ;
    border: 1px solid #00ffff;
    font-weight: bold;
}

/* **********************************************************************/
.card-section{
    margin: 100px;
    text-align: center;
}
.section-title{
    font-weight: bolder;
}

/* **********************************************************************/








/* ***************************GET STARTED*******************************************/
.get-started{
    height: 160px;
    padding: 30px;
    color: #ffffff;
    text-align: center;
    background: url(./images/bg-shorten-desktop.svg);
    background-color: rgb(177, 107, 241);
}
.get-started-btn{
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    background: #00ffff ;
    border: 1px solid #00ffff;
    font-weight: bold;
    margin-bottom: 30px;
}
.get-started-title{
    font-weight: bolder;
    font-size: 30px;
}



/* *****************************FOOTER*****************************************/
 .footer{
    background: #000000; 
    color: #ffffff;
    height: 200px;   
    padding-top: 20px;
}
.col h4 a {
    color: #ffffff;
    text-decoration: none;
}
.col .footer-links{
    display: flex;
    list-style: none;  
}
.footer-links li a{
    color:#ffffff;
    text-decoration: none;
    margin: 10px 10px;
} 
.social-icons{
    display: flex;
}
.social-img{
    margin: 10px;
}

/*========================MEDIA QUERIES===================================*/

/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767.98px) { 
    body{
        width: 100%;
    }
    .container-fluid{
        width: 700px;
    }
    
}
